body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #333;
    text-align: center;
    padding: 20px;
}
.container {
    background-color: #ffffff;
    padding: 10px; 
    border-radius: 10px;
    width: 90%;
}
h1 {
    color: #007bff; 
    margin-bottom: 25px;
    font-size: 2.5em;
}
#excuse {
    font-size: 2em;
    color: #555;
    font-style: italic;
    margin-top: 30px;
    padding: 20px;
    border: 2px dashed #a7d9f0; 
    border-radius: 50px;
}
.instructions {
    margin-top: 30px;
    font-size: 1em;
    color: #555;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8em;
    }
    #excuse {
        font-size: 1.4em;
        padding: 15px;
    }
    .container {
        padding: 25px;
    }
}